@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --primary: #23376E;
  --accent: #F8AF3C;
  --background: hsl(210, 20%, 98%);
  --foreground: hsl(224, 52%, 25%);
  --border: hsl(220, 20%, 88%);

  color-scheme: light;
  color: var(--foreground);
  background-color: var(--background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

@layer base {
  body {
    @apply bg-[hsl(210,20%,98%)] text-[hsl(224,52%,25%)];
  }
}
